@import '../variables';
#footer, #shipping, #returnAndExchange {
  .main_title{
    font-weight: bold;
    text-align: center;
  }
  .title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
  }

  p{
    padding: 7px 0;
  }

}

#shipping, #returnAndExchange{
  padding-bottom: 50px;
}

#footer {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #fafafa;

  #links_container{
    padding-top: 10px;
    ul{
      padding-left: 0px;
      list-style: none;
    }

    a, p{
      font-size: .9em;
    }

    a{
      text-decoration: none;
      color: $g_black_grey_color;
    }
    a:hover{
      color: #23527c;
    }

    form {
      padding-left: 15px;
      .btn{
        text-shadow: none;
        background-image: none;
        background-color: $g_black_grey_color;
        color: $g_white;
        margin-left: 10px;
      }
    }
  }
}

#shipping {
  margin: 0 40px;
  table {
    width: 100%;
    border: solid 1px #ebebeb;
  }
  h2, th{
    text-align: center;
  }
  td, tr {
    padding: 12px;
  }
  td{
    height: 42px;
  }
  tr{
    height: 62px;
  }
  p{
    text-align: left;
  }
  .title{
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 1.25em;
  }
  #colored{
    background-color: #fafafa;
  }
  .domestic, .international{
    text-align: center;
    word-wrap: break-word;
  }
  .domestic{

    #text_bold{
      font-weight: bold;
    }
    #red_text{
      color: #ff0000;
    }
  }
}

#returnAndExchange{
 #center_bold{
   text-align: center;
   font-weight: bold;
 }
}
