@import '../variables';

#footer {
  padding-top: 50px;

  #links_container{
    .title{
      text-transform: uppercase;
      font-weight: bold;
    }
    padding-top: 10px;
    ul{
      padding-left: 0px;
      list-style: none;
    }

    a, p{
      font-size: .9em;
    }

    a{
      text-decoration: none;
      color: $g_black_grey_color;
    }
    a:hover{
      color: #23527c;
    }

    form {
      padding-left: 15px;
      .btn{
        text-shadow: none;
        background-image: none;
        background-color: $g_black_grey_color;
        color: $g_white;
        margin-left: 10px;
      }
    }
  }
}
